*,
*::after,
*::before {
    font-family: 'Inter', sans-serif;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: #1C1C1C;
    color: #FFFFFF;
    display: flex;
}

.container { margin: auto; }

header { background-color: #6943FF; }
main { background-color: #1F2937; }

header,
main {
    width: 550px;
    padding: 35px 25px;
}


h1 { font-size: 28px; }

h2 {
    font-size: 20px;
    font-weight: 600;
    color: #CCC1FF;
    margin-bottom: 10px;
}

p { font-size: 14px; }

.unit {
    background-color: #273549;
    border-top-left-radius: 5px;
    padding: 25px 10px;
    margin-bottom: 25px;
}

.unit:last-child {  margin-bottom: 0; }

#input-el {
    width: 150px;
    background-color: transparent;
    font-weight: 800;
    font-size: 58px;
    color: #FFFFFF;
    outline: none;
    border: solid #B295FF 2px;
    border-radius: 5px;
    padding-block: 10px;
    margin-block: 30px 25px;
    animation-duration: 1s;
}

#convert-btn {
    display: block;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    color: #3D3D3D;
    border: none;
    border-radius: 5px;
    padding: 9px 28px;
    margin-inline: auto;
    cursor: pointer;
}

#convert-btn:active { transform: scale(0.95); }

@keyframes invalid {
  from {border-color: red;}
  to {border-color: #B295FF;}
}
